<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.gov.serpro.quiz"
    android:versionCode="1"
    android:versionName="1.0.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="br.gov.serpro.quiz.QuizApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        
        <uses-library android:name="com.google.android.maps"/>
        
        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.RankingActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        <activity android:name=".view.activity.MapaActivity" />
        <activity android:name=".view.activity.GameCategoryActivity" />
        <activity android:name=".view.activity.GameActivity" />
        <activity android:name=".view.activity.PreferenciasActivity" />
    </application>

</manifest>